/* Overall body color and font */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Header style */
header {
    background-color: #2c3e50;
    color: white;
    padding: 5px;
}

/* Header content */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.header-titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header-titles h1 {
    margin: 0;
}

.header-titles h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Main container style */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Section style (represents each quadrant) */
section {
    position: relative;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 20px;
    flex: 1 0 calc(45% - 30px);
    min-width: 250px;
}

/* Container Styles */
.job-posts-container, .view-applicants-container, .applications-container, .notifications-container {
    background-color: #2c3e50;
    border-radius: 10px;
    padding: 15px;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.view-applicants-container .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* View Applicants Content Styles */
.view-applicant-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    gap: 15px;
}

/* User Profile Styles */
.user {
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 15px;
    text-align: left;
    position: relative;
    height: 150px;
    width: 150px;
    border: 1px solid #b0b0b0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user .avatar i {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 10px;
}

.user .view-job-title {
    color: #2c3e50;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: left;
    flex-grow: 1;
}

.user p {
    margin: 5px 0;
}

.user p.name {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

.application-due-date, .user-category {
    font-size: 13px;
    font-weight: normal;
}

/* Job Posts Styles (Job Title / Job Description) */
.job-title, .application-title, .notification-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
    margin: 0;
}

.application-description, .job-description, .notification-description {
    color: #545454;
    font-style: normal;
    margin-top: 5px;
}

/* Heading style */
h2 {
    color: #ecf0f1;
    text-align: center;
    margin: 0 0 20px;
}

/* Content styles */
.job-posts-content, .applications-content, .notifications-content {
    background-color: #ffffff;
    border-radius: 5px;
    height: 300px;
    overflow: auto;
    padding: 10px;
}

/* Individual Job Details Segment */
.department, .email, .location, .job-type, .job-description {
    margin: 2px 0;
}

.job-type {
    margin-bottom: 15px;
}

.notifications-content {
    height: 200px;
}

.job p i {
    margin-right: 5px;
    color: black;
}

/* HR Staff content styles */
.view-applicant-content {
    background-color: #ffffff;
    border-radius: 5px;
    height: 200px;
    overflow-y: auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

/* Item Styles */
.application, .notification {
    background-color: #e0e0e0;
    border: 1px solid #b0b0b0;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.job {
    background-color: #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    flex: 1 1 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Search Bar Styles */
.search-bar {
    display: flex;
    margin-bottom: 5px;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

.view-applicants-container .search-bar input {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

/* Button Styles */
.edit-button, .remove-button, .view-button {
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}

.filter-button, .create-button {
    background-color: #7f8c8d;
    color: white;
    border: none;
    height: 35px;
    font-weight: bold;
    margin-left: 5px;
    border-radius: 8px;
    padding: 5px 15px;
}

.edit-button:hover, .remove-button:hover, .details-button:hover {
    opacity: 0.8;
}

.remove-button {
    background-color: red;
}

.details-button {
    background-color: #2c3e50;
    color: white;
    border: none;
    border-radius: 50%;
    /* Make it circular */
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.create-button {
    background-color: #7f8c8d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 10px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
}

.job .button-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

/* Pop-Up Window Styles */
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1001;
    width: 400px;
}

/* General styles for the backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

.popup {
    width: 300px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 100%;
}

.resume-container {
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
}

.pass, .reject {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pass {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.reject {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

/* Additional classes */
.button-container {
    display: flex;
    justify-content: space-between;
}

.icon-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    font-size: 20px;
    gap: 0px;
    margin-bottom: 0;
    align-items: flex-end;
}

.icon-wrapper a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.icon-wrapper a:hover {
    background-color: #34495e;
    color: #ffffff;
    text-decoration: none;
}

.button-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

/* Profile Dropdown Styles */
.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-dropdown a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.profile-dropdown:hover .dropdown-content {
    display: block;
}

/* Profile Link Styles */
.profile-link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

/* Profile Placeholder Styles */
.profile-placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
    margin-right: 5px;
    vertical-align: middle;
}

/* Dropdown Content Styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    padding: 10px 12px;
}

.dropdown-content a:hover {
    background-color: #d9d9d9;
    color: black;
    border-radius: 10px;
}

/* Additional classes */
.job-posts-container .button-wrapper, .applications-container .button-wrapper, .notifications-container .button-wrapper {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    gap: 5px;
    margin-bottom: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.view-applicants-container .button-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;
}

.user .button-wrapper {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.user .icon-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    font-size: 20px;
    gap: 30px;
}